# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Database connection password files (optional, for safety)
*.env

# Exclude raw database CSV files
data/*.csv

# Exclude local project documentation
project/roadmap.md
project/project-details.md